.banner-image {
  position: relative;
  background-image: url('../../images/BANNER.png');
  isolation: isolate;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
  border-radius: 25px;

  @include phone {
    height: 111px;
  }
  @include tablet {
    height: 190px;
  }
  @include desktop {
    height: 223px;
  }
  @include LGdesktop {
    height: 223px;
  }
  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &__text {
    text-align: left;
    font-weight: 500;
    color: $tertiary-color;
    @include phone {
      font-size: 18px;
    }
    @include tablet {
      font-size: 23px;
    }
    @include desktop {
      font-size: 40px;
    }
    @include LGdesktop {
      font-size: 40px;
    }
  }
}

.banner-image::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: #000;
  opacity: 0.3;
}
