.bcgGray {
  @include tablet {
    background-color: $quaternary-color;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  @include desktop {
    background-color: $quaternary-color;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  @include LGdesktop {
    background-color: $quaternary-color;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
