.tag {
  background: $primary-color;
  border-radius: 10px;
  color: white;
  padding: 3px 10px;
  margin-top: 10px;
  min-width: 68px;
  text-align: center;
  @include phone {
    margin-right: 10px;
    margin-bottom: 20px;
  }
  @include tablet {
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  @include desktop {
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  @include LGdesktop {
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  &__text {
    margin: 0;
    font-weight: 500;
    @include phone {
      font-size: 13px;
    }
    @include tablet {
      font-size: 16px;
    }
    @include desktop {
      font-size: 16px;
    }
    @include LGdesktop {
      font-size: 16px;
    }
  }
}
