// Abstracts .. Utilities

@import './Abstracts/Breakpoints';
@import './Abstracts/Colors';
@import './Abstracts/Mixins';
@import './Abstracts/Responsive-Nav';

// Components

@import './Components/Navbar';
@import './Components/StyledNavbar';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat' 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(104, 102, 102);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
