.about-page {
  margin: 0 5%;
}

.collapsible__container-about {
  background-color: $quaternary-color;
  color: $primary-color;
  border-radius: 5px;
  z-index: -1;
  padding: 15px;
  margin-bottom: 45px;
}
