.about-page {
  margin: 0 5%;
  min-height: 700px;
}

.collapsible__container-about {
  background-color: $quaternary-color;
  color: $primary-color;
  border-radius: 5px;
  z-index: -1;
  padding: 15px;
  margin-bottom: 45px;
}

.collaps-items {
  @include phone {
    margin: 0;
  }
  @include tablet {
    margin: 0 10%;
  }
  @include desktop {
    margin: 0 10%;
  }
  @include LGdesktop {
    margin: 0 10%;
  }
}
