.home-page {
  margin: 0 5%;
  &__flexitem {
    @include phone {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    @include desktop {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    @include LGdesktop {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}
