.product {
  margin: 0 5%;
  color: $primary-color;

  align-items: center;
  @include phone {
    display: flex;
    flex-direction: column;
  }
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @include LGdesktop {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
.tags {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.Right {
  margin: 0;

  @include phone {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }
  @include tablet {
    width: 100%;
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    align-items: center;
  }
  @include desktop {
    width: 15%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
  }
  @include LGdesktop {
    width: 15%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
  }
}
