// Abstracts .. Utilities

@import '../Abstracts/Breakpoints';
@import '../Abstracts/Colors';
@import '../Abstracts/Mixins';

// Base
@import './Police';

// Layout

@import '../Layout/StyledNavbar';
@import '../Layout/Footer';

// Components

@import '../Component/HomeBanner';
@import '../Component/SectionHome';
@import '../Component/Thumb';
@import '../Component/ImageSlider.scss';
@import '../Component/Tag.scss';
@import '../Component/Host';
@import '../Component/Rating';
@import '../Component/Collapsible';

// Pages
@import '../Pages/Home';
@import '../Pages/Product';
@import '../Pages/NotFound';

// ****

body {
  min-height: 100%;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;

  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin-bottom: 209px;
}
